# IntelliJ IDEA files
.idea/
*.iml

# Maven
target/

# Compiled class file
*.class

# Log files
*.log

# Package Files #
*.jar
*.jar.original
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*